// @font-face declarations:
@font-face {
	font-family: 'Dodger';
	src: url('../fonts/Dodger.woff');
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Regular.woff');
	// src: url('../fonts/Montserrat-Regular.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Medium.woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-SemiBold.woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Bold.woff');
	font-weight: 700;
}

// All fonts declared:
html {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 400;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

h1 {
	color: $text-secondary;
	font-family: 'Dodger';
	font-weight: normal;
	font-size: 1.88rem;
	letter-spacing: 3px;
	text-shadow: 2px 2px #000000;

	@include respond-to-width(1055px) {
		font-size: 2.4rem;
	}
}

h2 {
	margin: 0.5rem 0;
	font-size: 1.15rem;
}

p {
	font-size: 1.1rem;
	margin: 0 0 1rem;
	line-height: 1.6;
}
