// Variables
// Colors
$primary-color: rgb(195, 0, 0);
$secondary-color: rgb(0, 0, 0);
$text-primary: rgb(180, 180, 180);
$text-secondary: rgb(255, 255, 255);
$text-tertiary: rgb(0, 0, 0);
$text-modal: rgb(240, 240, 240);

// Gradients
$primary-gradient: linear-gradient(
	100deg,
	rgb(233, 153, 153),
	rgb(223, 57, 7),
	rgb(195, 0, 0)
);
$secondary-gradient: linear-gradient(
	120deg,
	rgba(47, 42, 42, 0.858) 10%,
	rgb(15, 15, 15) 50%,
	rgb(10, 10, 10) 20%,
	rgba(20, 20, 20, 1) 100%
);
$tertiary-gradient: linear-gradient(
	120deg,
	rgba(0, 0, 4, 1) 30%,
	rgb(10, 10, 10) 50%,
	rgb(15, 15, 15) 20%,
	rgba(75, 66, 66, 0.858) 100%
);

// Borders
$border-radius-primary: 0.2rem;
$border-radius-secondary: 0.5rem;
