// Variables
$header-bg: rgb(195, 0, 0);
$text-primary: rgb(180, 180, 180);
$text-secondary: rgb(255, 255, 255);
$text-tertiary: rgb(0, 0, 0);
$text-modal: rgb(240, 240, 240);
$footer-gradient: linear-gradient(
	100deg,
	rgb(233, 153, 153),
	rgb(223, 57, 7),
	rgb(195, 0, 0)
);
$border-radius-primary: 0.2rem;
$border-radius-article: 0.5rem;
